{% extends "app/layouts/base.j2" %}

{% block head %}
    {{ super() }}
    {% if bokeh_resources %}{{ bokeh_resources }}{% endif %}
{% endblock %}

{% block main_content %}
<div class="bsk-panel bsk-panel-default">
  {% if icenet_metadata %}
    <header class="bsk-panel-heading">
      <dl class="bsk-dl-lg bsk-dl-striped bsk-dl-horizontal bsk-dl-horizontal-lg">
        <dt>Forecast history:</dt>
          <dd>{{ icenet_metadata['history'] }}</dd>
        <dt>Forecast period:</dt>
        {% if "date_range" in icenet_metadata %}
          <dd>{{ icenet_metadata['start_date'] }} - {{ icenet_metadata['end_date'] }}</dd>
        {% else %}
          <dd>Data incomplete...</dd>
        {% endif %}
        <dt>Pipeline metadata:</dt>
          <dd>{{ icenet_metadata['source']|trim }}</dd>
        <dt>Data metadata:</dt>
          <dd>{{ icenet_metadata['spatial_resolution'] }} in {{ icenet_metadata['geospatial_bounds_crs'] }}</dd>
      </dl>
    </header>
  {% endif %}
  <main class="bsk-panel-body">
    {% if icenet_metadata %}
      <div class="bsk-row">
        <div class="bsk-col-12-md-12 bsk-docs-content-block">
          <div class="bsk-col-12-md-4 bsk-docs-content-block"></div>
          <div id="plot_date_picker" class="bsk-col-12-md-4 bsk-docs-content-block"></div>
          <div class="bsk-col-12-md-4 bsk-docs-content-block"></div>
        </div>
      </div>
  
      <div class="bsk-row">
        <div class="bsk-col-12-md-12 bsk-docs-content-block">
          <div id="plot_sic_mean" class="bsk-col-12-md-6 bsk-docs-content-block"></div>
          <div id="plot_sic_stddev" class="bsk-col-12-md-6 bsk-docs-content-block"></div>
        </div>
      </div>
      <div class="bsk-row">
        <div id="plot_trend_mean" class="bsk-col-12-md-6 bsk-docs-content-block"></div>
        <div id="plot_trend_stddev" class="bsk-col-12-md-6 bsk-docs-content-block"></div>
      </div>
      <div class="bsk-row">
        <div id="plot_sie_change" class="bsk-col-12-md-6 bsk-docs-content-block"></div>
        <div class="bsk-col-12-md-6 bsk-docs-content-block">&nbsp;</div>
      </div>
    {% else %}
      <div class="bsk-row">
        <div class="bsk-col-12-md-12 bsk-docs-content-block">
          <div class="bsk-col-12-md-12 bsk-docs-content-block" style="text-align:center;">
            <br /><br /><br /><br />
            <p>We have no metadata for any forecasts, which suggests no data is currently uploaded...</p>
            <br /><br /><br /><br />
          </div>
        </div>
      </div>
    {% endif %}

    <div class="bsk-row">
      <div class="bsk-col-12-md-12 bsk-docs-content-block bsk-text-muted">
        <br /><br />
        <p>All data is &copy; British Antarctic Survey and The Alan Turing Institute 2023 and made
        available via the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government License</a>
        which is compatible with the <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY-4.0</a>.</p>
        <br />
        <p>The data, imagery and graphs contained on this page are development forecast materials produced
        by the IceNet pipeline for demonstration and research purposes only.</p>
      </div>
    </div>

  </main>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" language="javascript">
        fetch('/plots/sic_mean')
            .then(function(response) { return response.json(); })
            .then(function(item) { Bokeh.embed.embed_item(item, "plot_sic_mean"); });
        fetch('/plots/sic_stddev')
            .then(function(response) { return response.json(); })
            .then(function(item) { Bokeh.embed.embed_item(item, "plot_sic_stddev"); });
        fetch('/plots/date_picker')
            .then(function(response) { return response.json(); })
            .then(function(item) { Bokeh.embed.embed_item(item, "plot_date_picker"); });
        fetch('/plots/sie_change')
            .then(function(response) { return response.json(); })
            .then(function(item) { Bokeh.embed.embed_item(item, "plot_sie_change"); });
        fetch('/plots/trend_mean')
            .then(function(response) { return response.json(); })
            .then(function(item) { Bokeh.embed.embed_item(item, "plot_trend_mean"); });
        fetch('/plots/trend_stddev')
            .then(function(response) { return response.json(); })
            .then(function(item) { Bokeh.embed.embed_item(item, "plot_trend_stddev"); });

        var fc_image_cur_id = $("img.fc_image_sic").first().attr('id').slice(-8);
        console.log("First image shown is " + fc_image_cur_id);
        $("img.fc_image_sic").hide();
        $("img.fc_image_stddev").hide();
        $("img#fc_image_sic_" + fc_image_cur_id).show();
        $("img#fc_image_stddev_" + fc_image_cur_id).show();
    </script>
{% endblock %}